* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $black;
}

html {
    font-size: 62.5%; //to use 1rem=10px
}

//terminal 
#terminal {
    font-family: courier, monospace;
    color: $white;
    width: 75rem;
    margin: auto 10rem auto 0rem;
}

//text decoration
a {
    color: $blue;
    text-decoration: none;
}

#a {
	color: $green;
}

#c {
	color: $blue;
}

#b {
	color: $red;
}

#k {
    	animation: change 1s;
}

#op{
    	color: $grey
}

@keyframes change {
    	0%  { color:  $green; }
    	50% { color:  $green; }
    	99% { color: $black; }
}