* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $black;
}

html {
    font-size: 62.5%; //to use 1rem=10px
}

//Terminal 
#terminal {
    font-family: courier, monospace;
    color: $white;
    width: 75rem;
    margin-left: 4rem;
}

//Text Decoration
a {
    color: $blue;
    text-decoration: none;
}

#green {
	color: $green;
}

#blue {
	color: $blue;
}

#pink {
	color: $pink;
}

#red {
    color: $red;
}

#animation {
    	animation: change 1s;
}

#op{
    	color: $grey
}

@keyframes change {
    	0%  { color:  $green; }
    	50% { color:  $green; }
    	99% { color: $black; }
}